<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ProgramData}\\Deserialization Latency Logs\\logs_.txt" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <preserveLogFileNameExtension value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date %logger [%thread] - %message %exception%newline" />
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>
 
  <root>
    <appender-ref ref="RollingFileAppender" />
    <level value="All" />
  </root>
  <logger name="RequestLogger" additivity="false">
    <level value="All" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
</log4net>